/* Arrière-plan texturé */
body {
    background-image: url('/background-pattern.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.moto-ad-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Transparence légère pour voir le fond */
    backdrop-filter: blur(5px); /* Ajoute un effet de flou */
}

.moto-ad-images {
    margin-bottom: 20px;
}

.image-grid {
    display: inline-block;
    margin-bottom: 20px;
}

.moto-image {
    width: 375px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    margin: 0 10px;
    border: 2px solid #ddd;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.moto-image:hover {
    transform: scale(1.05); /* Agrandit légèrement l'image au survol */
}

.moto-ad-details {
    margin-top: 20px;
}

.moto-title {
    font-size: 3rem;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 30px;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Effet d'ombre sur le texte */
}

.moto-location-year {
    font-size: 1.2rem;
    color: #7f8c8d;
    margin-bottom: 20px;
}

.moto-price {
    font-size: 1.6rem;
    margin-bottom: 30px;
    font-weight: bold;
    color: #e74c3c;
}

.section-title {
    font-size: 1.8rem;
    margin-bottom: 15px;
    color: #2980b9;
    text-align: left;
}

.secure-payment-desc {
    font-size: 1.1rem;
    color: #34495e;
    margin-bottom: 10px;
    text-align: left;
}

.criteria-list {
    list-style: none;
    padding: 0;
    font-size: 1.1rem;
    color: #2c3e50;
    margin-bottom: 20px;
    display: grid;
    gap: 10px;
}

.moto-description {
    font-size: 1.2rem;
    color: #7f8c8d;
    margin-bottom: 40px;
    text-align: justify;
    line-height: 1.6;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.date-picker-section {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.date-picker-section label {
    font-size: 1.3rem;
    color: #2980b9;
    font-weight: bold;
    margin-bottom: 10px;
}

.rent-button {
    padding: 12px 40px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 128, 0, 0.2);
    margin-right: 20px;
}

.rent-button:hover {
    background-color: #228b22;
}

.send-message-button,
.login-button-message {
    padding: 12px 40px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 12px rgba(52, 152, 219, 0.2);
}

.send-message-button:hover,
.login-button-message:hover {
    background-color: #2980b9;
}

/* Liens */
a {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: inherit;
}

a:hover .learn-more {
    color: #1abc9c;
}

/* Positionne correctement le calendrier sous les inputs */
.react-datepicker-wrapper {
    display: inline-block;
    width: auto;
}

/* Style spécifique aux sections des pickers */
.date-picker-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.date-picker-section label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #2980b9;
    font-weight: bold;
}
